@using HistoricalGiftsShop.Common
@model HistoricalGiftsShop.Web.ViewModels.Home.IndexViewModel
@{
    this.ViewData["Title"] = $"Welcome to {GlobalConstants.SystemName}!";
}

<div class="text-center">
    <h1 class="display-3">@this.ViewData["Title"]</h1>
</div>

<div class="row">
    @foreach (var category in Model.Categories)
    {
    <div class="col-sm-4 col-md-3">
        <div class="preview">
            <a href="@category.Url">
                <img src="@category.ImageUrl" width="200" height="200" alt="@category.Title" />
            </a>
            <div class="media-body">
                <h5 class="mt-0">
                    <a href="@category.Url">
                        @category.Title
                    </a>
                </h5>
                @category.Description
            </div>
        </div>
     </div>
     }
</div>
