@model HistoricalGiftsShop.Web.ViewModels.ShoppingCarts.ShoppingCartViewModel
@using System.Globalization
@using Microsoft.AspNetCore.Http;


<div class="text-center">
    <h4>
        Кошница с продукти
    </h4>
</div>
<br />

<div id="divInfo">
</div>

@if (Model.ShoppingCartItems.Count() != 0)
{
    <table class="table-bordered w-100">
        <thead class="thead-light">
            <tr>
                <th scope="col" class="text-center">Remove</th>
                <th scope="col" class="text-center">Продукт</th>
                <th scope="col" class="text-right">Количество</th>
                <th scope="col" class="text-right">Цена</th>
                <th scope="col" class="text-right">Общо</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var lineItem in Model.ShoppingCartItems)
            {
                <tr>
                    <td class="text-center">
                        <form id="changeQuantityForm" method="post"></form>
                        <a href="#" onclick="changeQuantity('@lineItem.ProductId', 0)">
                            Remove Item
                        </a>
                    </td>
                    <td class="text-left">
                        <a asp-controller="@lineItem.ProductControllerName" asp-action="ById" asp-route-id="@lineItem.ProductId">@lineItem.ProductName</a>
                    </td>
                    <td class="text-center">
                        <div class="text-muted small ml-3">
                            <a href="#" onclick="changeQuantity('@lineItem.ProductId', 1)">
                                <i class="fa fa-plus-square"></i>
                            </a>
                            <div id="itemAmount_@lineItem.ProductId" class="diplay d-inline">@lineItem.Amount</div>
                            <a href="#" onclick="changeQuantity('@lineItem.ProductId', -1)">
                                <i class="fa fa-minus-square"></i>
                            </a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div id="itemPrice_@lineItem.ProductId">@lineItem.ProductPrice.ToString("c", CultureInfo.CreateSpecificCulture("bg-BG"))</div>
                    </td>
                    <td class="text-right">
                        <div id="itemRowPrice_@lineItem.ProductId">@((lineItem.Amount * lineItem.ProductPrice).ToString("c", CultureInfo.CreateSpecificCulture("bg-BG")))</div>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4" class="text-right">Общо:</td>
                <td class="text-right">
                    <div id="totalPrice">@(Model.ShoppingCartTotal.ToString("c", CultureInfo.CreateSpecificCulture("bg-BG")))</div>
                </td>
            </tr>
        </tfoot>
    </table>
}

@if (Model.ShoppingCartItems.Count() != 0)
{
    <div class="text-right" style="float:right">
        <div class="btn-group ">
            <a class="btn btn-success" asp-controller="Orders" asp-action="Create">Продължи</a>
        </div>
    </div>
}
else
{
    <span class="info alert-danger text-center">Your cart is empty, add some items to order them</span>
}

<div>
    <a href="#" class="btn btn-primary" onclick="returnBack('@Model.ReturnUrl')">
        Обратно в магазина
    </a>
</div>

@section Scripts
{
    <script>
        function returnBack(url) {
            window.location.href = url;
        }

        function changeQuantity(id, quantityValue) {
            var token = $("#changeQuantityForm input[name=__RequestVerificationToken]").val();
            var json = { Id: id, Quantity: quantityValue };
            $.ajax({
                url: "/api/shoppingcarts",
                type: "POST",
                data: JSON.stringify(json),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                headers: { 'X-CSRF-TOKEN': token },
                success: function (currentQuantity) {
                    if (currentQuantity != -1) {                        
                       window.location.href = '@Url.Action("Index", "ShoppingCarts")';                       
                    }
                    else {
                        $("#divInfo").html('Няма достатъчно количество на склад.');
                        $("#divInfo").addClass("alert alert-success");
                    }
                }
            });
        }
    </script>
}


